# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
banks = pd.read_csv("D:/Microsoft ml engineer/worksession/datasets/banklist.csv")

** Show the head of the dataframe **

In [7]:
# CODE HERE
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [8]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bank Name              551 non-null    object
 1   City                   551 non-null    object
 2   ST                     551 non-null    object
 3   CERT                   551 non-null    int64
 4   Acquiring Institution  551 non-null    object
 5   Closing Date           551 non-null    object
 6   Updated Date           551 non-null    object
dtypes: int64(1), object(6)
memory usage: 30.3+ KB

** What are the column names? **

In [17]:
# CODE HERE
print(list(banks.columns))

['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date', 'Updated Date']

** How many States (ST) are represented in this data set? **

In [18]:
# CODE HERE
banks["ST"].nunique()

44

** Get a list or array of all the states in the data set. **

In [30]:
# CODE HERE


states = banks['ST'].unique()

print("List of states:", states)

List of states: ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [45]:
# CODE HERE
failed_banks_by_state = banks['ST'].value_counts()
failed_banks_by_state.head()

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [42]:
# CODE HERE
acquiring_institutions = banks["Acquiring Institution"].value_counts()
acquiring_institutions.head()

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [55]:
# CODE HERE
state_texas_acquired_banks = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
total_acquisitions = state_texas_acquired_banks.shape[0]
print(total_acquisitions)
texas_acquisitions = state_texas_acquired_banks[state_texas_acquired_banks['ST'] == 'TX'].shape[0]
print(texas_acquisitions)

3
1

** What is the most common city in California for a bank to fail in?**

In [60]:
# CODE HERE
cali_banks = banks[banks["ST"] == 'CA']
most_common_city = cali_banks["City"].value_counts().idxmax()
count_most_common_city = cali_banks["City"].value_counts().max()
print(most_common_city,count_most_common_city)

Los Angeles 4

** How many failed banks don't have the word "Bank" in their name? **

df['Name'].str.contains('Bank', case=False, na=False): This checks if the word "Bank" appears in the Name column for each row.

case=False: Makes the search case-insensitive (so it catches variations like "bank" or "BANK").

na=False: Ensures that any missing values (NaN) are treated as False, so they aren't mistakenly included.

~: This is the negation operator in pandas. It flips the Boolean values, so it returns rows where the bank name does not contain the word "Bank".

In [63]:
# CODE HERE
no_bank_name = banks[~banks['Bank Name'].str.contains('Bank', case=False, na=False)]
count_no_bank_name = no_bank_name.shape[0]
count_no_bank_name

10

** How many bank names start with the letter 's' ? **

In [68]:
# CODE HERE
# banks_starting_with_s = banks[banks['Bank Name'].str.startswith('S', na=False, case=False)]
banks_starting_with_s = banks[banks['Bank Name'].str.lower().str.startswith('s', na=False)]
count_starting_with_s = banks_starting_with_s.shape[0]
count_starting_with_s

53

** How many CERT values are above 20000 ? **

In [75]:
# CODE HERE
cert_above2 = banks[banks["CERT"]>20000 ]
cert_above2.shape[0]

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [78]:
# CODE HERE
two_wordbanks = banks[banks['Bank Name'].str.split().str.len() == 2]
count_twoword_banks = two_wordbanks.shape[0]
print(count_twoword_banks)

114

How many banks closed in the year 2008?

In [79]:
# CODE HERE
BANK_CLOSED_AT_2008 = banks[banks["Closing Date"] ==2008]
BANK_CLOSED_AT_2008.shape[0]

0

# tip
errors='coerce' argument ensures that any invalid date values (like empty or malformed entries) are set to NaT (Not a Time), preventing errors.

In [ ]:

# Convert the 'Closing Date' column to datetime format
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'], errors='coerce')


# Filter rows where the closing date is in the year 2008
banks_closed_2008 = banks[banks['Closing Date'].dt.year == 2008]

# Count the number of rows (banks) that closed in 2008
count_banks_closed_2008 = banks_closed_2008.shape[0]

print(f"Number of banks that closed in the year 2008: {count_banks_closed_2008}")

Number of banks that closed in the year 2008: 25

# GREAT JOB!